@keyframes click-ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

@keyframes loading-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@include zoom-in("top", scaleY(0), scaleY(1), center top);
@include zoom-in("bottom", scaleY(0), scaleY(1), center bottom);
@include zoom-in("left", scale(0.45, 0.45), scaleY(1, 1), top left);
@include zoom-in("right", scaleY(0.45, 0.45), scaleY(1, 1), top right);
