// 边框和圆角

$alert-border-width: 1px !default;
$alert-border-color: $gray-400 !default;

$alert-border-raduis: 0.25rem !default;

// padding
$alert-padding-y: 0.375rem !default;
$alert-padding-x: 0.75rem !default;

// shadow
$alert-box-shadow: 0 0.5rem 1rem rgba($black, 0.15) !default;

$alert-box-shadow-inset: inset 0 1px 2px rgba($black, 0.075) !default;

// 字体相关
$alert-font-weight: $font-weight-normal !default;
$alert-title-font-weight: $font-weight-bold !default;

$alert-font-size: $font-size-base !default;
$alert-title-font-size: $h4-font-size !default;

$alert-line-height: $line-height-base !default;
$alert-title-line-height: $line-height-lg !default;

// 颜色
$alert-font-color: $white !default;
$alert-background-color-info: $info !default;
$alert-background-color-wraning: $yellow !default;
$alert-background-color-error: $red !default;
$alert-background-color-success: $success !default;

$btn-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !default;
